In [2]:
import pandas as pd
import seaborn as sea
import numpy as np
import matplotlib.pyplot as plt  

%matplotlib  inline

In [3]:
df = pd.read_csv('pricingOfDiamonds.csv') # importing contents of a CSV to a data frame (df)

In [5]:
# Show how you would transform the dataset to exclude missing data in your analysis.

In [6]:
df.head(2)

,ID,carat,cut,colour,clarity,depth,price,x,y,P,PC
0,1,0.23,Ideal,E,SI2,61.5,326,1417.391304,5.300813,Negative,Negative
1,2,0.21,Premium,E,SI1,59.8,326,1552.380952,5.451505,Positive,Negative

In [7]:
# Data cleaning.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       53940 non-null  int64
 1   carat    53940 non-null  float64
 2   cut      53940 non-null  object
 3   colour   53940 non-null  object
 4   clarity  53940 non-null  object
 5   depth    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   P        53930 non-null  object
 10  PC       53930 non-null  object
dtypes: float64(4), int64(2), object(5)
memory usage: 4.5+ MB

In [9]:
# Scanning for missing data points
df.isnull().sum()

ID          0
carat       0
cut         0
colour      0
clarity     0
depth       0
price       0
x           0
y           0
P          10
PC         10
dtype: int64

In [10]:
df.P

0        Negative
1        Positive
2         Positve
3              NR
4              NR
           ...
53935          NR
53936          SP
53937          SN
53938          SN
53939    Negative
Name: P, Length: 53940, dtype: object

In [11]:
df.PC

0        Negative
1        Negative
2        Negative
3        Negative
4        Negative
           ...
53935          SN
53936          SN
53937          SN
53938          SP
53939          SP
Name: PC, Length: 53940, dtype: object

In [12]:
unique_values = df['P'].unique()
print(unique_values)

['Negative' 'Positive' 'Positve' 'NR' 'SP' 'SN' nan]

In [13]:
mode_P = df['P'].mode()[0]
print("Mode of column 'P':", mode_P)

Mode of column 'P': Negative

In [15]:
# Replace all the missing data points with the mode(Categoric data) of the column P

df['P']=df['P'].fillna(mode_P)

In [16]:
df.isnull().sum()

ID          0
carat       0
cut         0
colour      0
clarity     0
depth       0
price       0
x           0
y           0
P           0
PC         10
dtype: int64

In [19]:
# Evaluate column PC
unique_values = df['PC'].unique()
print(unique_values)

['Negative' 'NR' 'Positive' 'Positve' 'SN' 'SP' nan]

In [20]:
mode_PC = df['PC'].mode()[0]
print("Mode of column 'PC':", mode_PC)

Mode of column 'PC': Negative

In [21]:
# Replace all the missing data points with the mode(Categoric data) of the column PC

df['PC']=df['PC'].fillna(mode_PC)

In [22]:
df.isnull().sum()

ID         0
carat      0
cut        0
colour     0
clarity    0
depth      0
price      0
x          0
y          0
P          0
PC         0
dtype: int64

In [23]:
# Conclusion.
# Using data cleaning techniques, "Replacing missing data with mode". Simply because the data
# missing is categoric data.
# No missing data.